@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  cursor: pointer;
  position: relative;
  margin-right: 2rem;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(227, 96, 42);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  @media (max-width: 41rem) {
    margin: 1rem 0 0 0;
  }
}
